@(form: Form[uk.gov.hmrc.play.asyncmvc.example.controllers.InputForm])(implicit request : Request[_])

@import uk.gov.hmrc.play.views.html.helpers

<html>


<body>

<p>Please enter a value for both the message and the Id. The value in the Id field will be passed to the off-line future and returned in the Result page. This is used to
verify the page submitted is associated correctly with the page response.</p>

<form action="/submit" method="post">
    Message:<br>
    <input type="text" name="message" value="Message">
    <br>
    ID:<br>
    <input type="text" name="id" value="1234">
    <br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>